<h1>
    Categorias
</h1>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6">

            <div class="card card-categoria shadow mb-4" onclick="listarOld()">
                <div class="card-body card-body-categoria">
                    <div>Old Money</div>
                </div>
              </div>
        <!--
            <button class="botao" type="button">
                Old Money
            </button>
        -->

        </div>

        <div class="col-sm-6">

            <button class="botao" type="button" onclick="listarModern()">
                Modern
            </button>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">

            <button class="botao" type="button" onclick="listarBeach()">
                Beach
            </button>

        </div>

        <div class="col-sm-6">

            <button class="botao" type="button" onclick="listarCity()">
                City
            </button>

        </div>

    </div>


</div>

<script>

    let listarOld =[
        {
            "id": 1,
            "nome": "Nome 1",
            "email": "email1@site.com"
        },

        {
            "id": 2,
            "nome": "Nome 2",
            "email": "email2@site.com"
        }
    ] 

    let listarModern =[

    ]

    let listarBeach =[

    ]

    let listarCity =[
        
    ]

</script>

<%- contentFor("head") %>
<style>

.card-categoria {
    background-image: url(/public/img/mansao.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card-body-categoria {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 15rem;
}

.botao {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    width: 250px;
    height: 100px;
    font-family: 'Roboto Slab', serif;
}

</style>
