<h1>
    Categorias
</h1>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6">

            <div class="card card-categoriaOld shadow mb-4">
                <div class="card-body card-body-categoria">
                    <div>Old Money</div>
                </div>
              </div>

        </div>

        <div class="col-sm-6">

            <div class="card card-categoriaModern shadow mb-4">
                <div class="card-body card-body-categoria">
                    <div>Modern</div>
                </div>
              </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-6">

            <div class="card card-categoriaBeach shadow mb-4">
                <div class="card-body card-body-categoria">
                    <div>Beach</div>
                </div>
              </div>

        </div>

        <div class="col-sm-6">

            <div class="card card-categoriaCity shadow mb-4">
                <div class="card-body card-body-categoria">
                    <div>City</div>
                </div>
              </div>

        </div>

    </div>


</div>

<%- contentFor("head") %>
<style>

.card-categoriaOld {
    background-image: url(/public/img/OldMoneyHouse.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card-categoriaModern {
    background-image: url(/public/img/ModernHouse.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card-categoriaBeach {
    background-image: url(/public/img/BeachHouse.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card-categoriaCity {
    background-image: url(/public/img/CityHouse.jpeg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.card-body-categoria {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 15rem;
    color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
}

</style>
