<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Categorias </title>
</head>

<body>

    <h1>
        Categorias
    </h1>
    
    <div class="container-fluid">

            <div class="row">

                <div class="col-sm-6">

                    <button class="botaoC categorias" type="button" onclick="listarOld()">
                        Old Money
                    </button>

                    <p>
                        Description: houses for... 
                    </p>

                </div>

                <div class="col-sm-6">

                    <button class="botaoC" type="button" onclick="listarModern()">
                        Modern
                    </button>

                    <p>
                        Description: houses for... 
                    </p>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-6">

                    <button class="botaoC" type="button" onclick="listarBeach()">
                        Beach
                    </button>

                    <p>
                        Description: houses for... 
                    </p>

                </div>

                <div class="col-sm-6">

                    <button class="botaoC" type="button" onclick="listarCity()">
                        City
                    </button>

                    <p>
                        Description: houses for... 
                    </p>

                </div>

            </div>


        </div>
        
    </div>

    <script></script>
    
</body>
</html>