
<div class="Segundatela">
    <img src="<%= root %>/public/img/mansao2.jpg" width="1300" />
</div>

<div class="container-fluid TerceiraTela">

    <h1 class="weprovide">
        <n>ᴡᴇ ᴘʀᴏᴠɪᴅᴇ ʜᴏᴍᴇ ᴛᴏ ᴘᴇᴏᴘʟᴇ ᴡʜᴏ ᴅᴇꜱᴇʀᴠᴇ ᴛʜᴇ ᴡᴏʀʟᴅ</n>
    </h1>

    <a class="properties" href="<%= root %>/categorias" target="_blank">

        PROPERTIES

    </a>

</div>

<div class="QuartaTela">
    <img src="<%= root %>/public/img/partners.png" width="1300">
</div>
